{
  "presets": [
    [
      "env", {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-react-jsx",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "presets": [
        "env"
      ]
    }
  }
}